body{
    background: url(alone-under-the-tree-sketch-wkvyg9dd5bsn6wwo.webp);
    background-size: 500% auto;
    background-repeat: no-repeat;
    text-align: center;
}
.p{
    color: #001f3f;
    font-size: large;

}
.tho{
    background-color: white;
    font-size: large;
}